@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.logo {
  font-family: "Architects Daughter", cursive;
}
.fas {
  color: lightgray;
}

.contact {
  background-color: lightgray;
}

.left {
  display: flex;
  flex-direction: column;
}

/* ------------
 media query
 ------------  */
@media only screen and (min-width: 360px) and (max-width: 740px) {
  .carousel-item img {
    height: 300px;
  }
  .fsize {
    font-size: 12px !important;
  }
  .carousel-caption {
    font-size: 10px;
    height: 130px;
    padding-top: 0 !important;
    margin-bottom: 10px;
  }
  .cbtn {
    width: 100px;
    height: 25px;
    padding: 0rem !important;
    font-size: 0.75rem !important;
  }

  .footer {
    display: flex !important;
    flex-direction: column;
  }
}
